body {
	margin: 0;
	background-color: #3ec7c7;
}
.button_for_join {
	position: absolute;
	width: 20%;
	height: 20%;
	text-align: center;
	margin-left: 43%;
}
.style_for_button_join {
	width: 60%;
	height: 40%;
	margin-top: 14%;
	border: 1px white solid;
	border-radius: 20px;
}
p{
	font-size: 20px;
	font-family: Open Sans Light, sans-serif;
	text-align: justify;
	padding: 4px 10px 4px 0;
}
.image_person {
	margin: 3% 0 0 5%;
	height: 20%;
	width: 40%;
	border-radius: 20px;
	display: flex;
	background-color: #f0dfdf;
}
.image_person2 {
	margin: 0.2% 0 0 5%;
	height: 22%;
	width: 40%;
	border-radius: 20px;
	display: flex;
	background-color: #f0dfdf;
}
.warning {
	margin: 0 0 0 55%;
	background-color: rgba(214, 26, 60, .7);
	width: 40%;
	position: absolute;
	border: 1px black dashed;
	border-radius: 10px;
}
.warning_by_text {
	font-size: 18px;
	margin: 0 0 0 10px;
}