body {
	margin: 0;
}

p {
	margin-left: 5px;
}

h1, h2 {
	text-align: center;
	border-bottom: 1px solid green;
}

.theme-text {
	text-align: center;
}

.page {

}

.section-for-main {
	height: 50vh;
	width: 50vw;
}

.background-for-page-tests {
	background-color: #177245;
}

.div-main {
	width: 200px;
	height: 200px;
	margin-left: 85%;
	margin-top:  25%;
}

.div-tests {
	width: 200px;
	height: 200px;
	margin-left:  48%;
}

.button-center-for-main {
	display: block;
	margin: 10px auto;
}

.image-center {
	border-radius: 200px;
	width: 300px;
	height: 300px;
	display: block;
	margin: auto;
	background-color: #d14c45;
}

.input-center-for-main {
	display: block;
	margin: 5px auto;
}

.name {

}

#red_color_for_h5 {
	color: red;
}