.theme {
    
}

.message-theme {
	color: yellow;
}

.theme-button {
	border-color: #bcbfa6;
    border-radius: 10%;
    background-color: #bcbfa6;
}

.light-theme {
    background-color: white;
    color: black;
}

.black-theme {
    background-color: #080808;
    color: white;
}