* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
}

a {
    text-decoration: none;
    color:rgb(58, 127, 218);
}

a:hover {
    color: rgb(43, 25, 204);
}

p {
    text-indent: 1vw;
}

header {
  width: 100vw;
  height: 15vh;
  background: orange;
  opacity: .6;
}

header>div>h1 {
    text-align: center;
}

.icon {
  margin-top: 2vh;
}

header>.icon>a>img {
    width: 10%;
    border-radius: 20%;
    display: block;
    margin: 0 auto;
}

main {
    background: #b6e0be;
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
}

article>p {
    padding: 10px;
    font-size: 14pt;
}

.lang {
  display: flex;
}

.lang>a {
  text-align: center;
}

.lang>a>img {
    width: 20%;
    border-radius: 20%;
    margin-top: 50%;
}

article>div>a>img:hover {
    box-shadow: 10px 10px rgb(59, 57, 57);
}

footer {
    background: rgb(58, 57, 57);
    width: 100vw;
    height: 20vh;
    opacity: .6;
}

footer>h1 {
    text-align: center;
    margin-top: 2vh;
}

footer>a>h2 {
    text-align: center;
    margin-top: 5vh;
}